<!DOCTYPE html>
<html>
<head>
  <title>SidekiqJsonStats</title>
  <%= stylesheet_link_tag    "sidekiq_json_stats/application", media: "all" %>
  <%= javascript_include_tag "sidekiq_json_stats/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
